@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}
/* Utiliteis */
.text-primary {
  color: #93cb52;
}
.l-heading {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  /* padding: 0 0.25rem; */
}
.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #7ab436;
}
.btn-dark {
  background-color: #333;
  color: #fff;
}
.bg-light {
  background-color: lightgray;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.m-heading {
  font-size: 2rem;
}
.container {
  padding: 0 2rem;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}
.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}
.text-center {
  text-align: center;
}
.bg-primary {
  background: #93cb52;
  color: #fff;
}

/* Section : Who WE are */
#who {
  display: flex;
}
#who div {
  flex: 1;
}
#who .who-img {
  background: url("../people.jpg") no-repeat center center/cover;
}

/* Section: What we do */
#what .container .m-heading {
  text-align: center;
  margin-bottom: 2rem;
}
#what .container .items {
  display: flex;
  flex: 1;
  padding: 0 2rem;
  justify-content: center;
}
#what .container .items .item {
  padding: 0 2rem;
}
#what .container .items .item,
.s-heading {
  text-align: center;
}
#what .container .items .item i {
  background-color: #93cb52;
  padding: 1.5rem;
  border-radius: 50%;
  margin-bottom: 20px;
}
/* Showcase */
#showcase {
  background: #333 url("../showcase.jpg") no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  /* overlay */
  /* position: absolute; */
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Navbar */
#navbar {
  position: sticky;
  display: flex;
  top: 0;
  padding: 1rem;
  background: #333;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  z-index: 1;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}
#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* section: ckients */
#clients .images {
  display: flex;
}
#clients .images img {
  display: block;
  margin: auto;
  width: 10%;
}

/* Section : Contact */
#contact {
  display: flex;
}

#contact .contact-form,
#contact .map {
  flex: 1;
}
#contact .contact-form .form-group label {
  display: block;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
  width: 100%;
}
